<h1 class="page-header">Novi autor</h1>

<form role="form" ng-submit="addNewAuthor()" name="newAuthorForm" id="newAuthorForm" novalidate>
    <div class="form-group" ng-class="{'has-error':newAuthorForm.firstName.$invalid && newAuthorForm.firstName.$dirty}">
        <label>Ime:</label>
        <input class="form-control" ng-model="author.firstName" name="firstName" required />
        <p class="help-block" ng-show="newAuthorForm.firstName.$invalid && newAuthorForm.firstName.$dirty">Ime je obavezno.</p>
    </div>
    <div class="form-group" ng-class="{'has-error':newAuthorForm.lastName.$invalid && newAuthorForm.lastName.$dirty}">
        <label>Prezime:</label>
        <input class="form-control" ng-model="author.lastName" name="lastName" required />
        <p class="help-block" ng-show="newAuthorForm.lastName.$invalid && newAuthorForm.lastName.$dirty">Ime je obavezno.</p>
    </div>
    <div class="form-group" ng-class="{'has-error':newAuthorForm.birthDate.$invalid && newAuthorForm.birthDate.$dirty}">
        <label>Datum rođenja:</label>
        <input class="form-control" ng-model="author.birthDate" name="birthDate" type="date" required />
        <p class="help-block" ng-show="newAuthorForm.birthDate.$invalid && newAuthorForm.birthDate.$dirty">Datum rođenja je obavezan.</p>
    </div>
    <div class="form-group" ng-class="{'has-error':newAuthorForm.birthPlace.$invalid && newAuthorForm.birthPlace.$dirty}">
        <label>Mjesto rođenja:</label>
        <input class="form-control" ng-model="author.birthPlace" name="birthPlace" required />
        <p class="help-block" ng-show="newAuthorForm.birthPlace.$invalid && newAuthorForm.birthPlace.$dirty">Mjesto rođenja je obavezan.</p>
    </div>
    <div class="form-group" ng-class="{'has-error':newAuthorForm.deathDate.$invalid && newAuthorForm.deathDate.$dirty}">
        <label>Datum smrti:</label>
        <input class="form-control" ng-model="author.deathDate" name="deathDate" type="date" required />
        <p class="help-block" ng-show="newAuthorForm.birthDate.$invalid && newAuthorForm.deathDate.$dirty">Datum smrti je obavezan.</p>
    </div>
    <div class="form-group" ng-class="{'has-error':newAuthorForm.deathPlace.$invalid && newAuthorForm.deathPlace.$dirty}">
        <label>Mjesto smrti:</label>
        <input class="form-control" ng-model="author.deathPlace" name="deathPlace" required />
        <p class="help-block" ng-show="newAuthorForm.deathPlace.$invalid && newAuthorForm.deathPlace.$dirty">Mjesto smrti je obavezan.</p>
    </div>
    <div class="form-group" ng-class="{'has-error':newAuthorForm.description.$invalid && newAuthorForm.description.$dirty}">
        <label>Opis:</label>
        <input class="form-control" ng-model="author.description" name="description" required />
        <p class="help-block" ng-show="newAuthorForm.description.$invalid && newAuthorForm.description.$dirty">Opis je obavezan.</p>
    </div>
    <div class="form-group" ng-class="{'has-error':newAuthorForm.url.$invalid && newAuthorForm.url.$dirty}">
        <label>Url:</label>
        <input class="form-control" ng-model="author.url" name="url" required />
        <p class="help-block" ng-show="newAuthorForm.url.$invalid && newAuthorForm.url.$dirty">Url je obavezan.</p>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="newAuthorForm.$invalid">Spremi</button>
</form>
